* {
  text-align: center;
}

input {
  width: 50%;
}

.card, .droppableContainer, .addBoard {
  border: 1px solid grey;
  border-radius: 5px;
}

.draggable, .droppableContainer, .addBoard {
  border-radius: 5px;
  margin: 5px;
}

.draggable {
  margin-top: 0;
}

.boards {
  display: flex;
  overflow: scroll;
  min-height: 80vh;
}

.droppableContainer {
  position: relative;
  background-color: #F6F8FA;
}

.droppable {
  position: relative;
  width: 280px;
  border-radius: 5px;
  padding-top: 5px;
  flex-shrink: 0;
}

.over-droppable {
  background-color: rgb(214, 228, 233);
}

.addBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.addBoard input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  margin-bottom: 0;
}

.addBoard button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.addBoard > * {
  box-sizing: border-box;
  width: 95%;
  margin: 5px;
}

#selectBoard {
  max-width: 30vw;
}

.trash {
  background-color: lightcoral;
  background-image: url(./trashcan.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  width: 282px;
  min-height: 122px;
  margin: 0;
}

.boardDeleter {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.boardDeleter svg {
  fill: black;
  width: 20px;
  height: 20px;
  transition: fill 0.2s ease;
}

.boardDeleter:hover svg {
  fill: red;
}

.boardTitle {
  margin: 5px 35px 0px 35px;
  word-break: break-word;
}

.boardCounter {
  position: absolute;
  top: 2px;
  left: 5px;
  background-color: rgba(211, 211, 211, 0.4);
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  padding: 5px;
  margin: 0;
}

.draggable:hover .flip-card {
  background-color: #F6F8FA;
}

.card {
  background-color: white;
  color: black;
  width: 100%;
  min-height: 80px;
  box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.2);
  position: relative;
}

.todoName {
  margin: 1.33em 5px 8px 5px;
  word-break: break-word;
}

.deleteAll {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.deleteAll:hover {
  background-color: red;
}

.openColorPicker {
  position: absolute;
  top: 38px;
  right: 5px;
  background-color: white;
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.openColorPicker:hover {
  background-color: rgb(211, 211, 211);
}

/* To hide men when not open */
.menu {
  display: none;
}

/* The menu when its open */
.menuOpen .menu {
  border: 1px solid black;
  position: absolute;
  top: 20px;
  right: 5px;
  background-color: white;
  padding: 6px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.2);
}

.menuOpen .menu button {
  margin: 1px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* The ... button to open menu */
.openMenu {
  position: absolute;
  top: -10px;
  right: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2em;
  height: 45px;
  width: 40px;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
  border: 1px solid grey;
}

.modal > * {
  margin: 5px;
  width: 100%;
  box-sizing: border-box;
}

.closeModal {
  position: absolute;
  top: 5px;
  right: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: unset;
}

.hidden {
  display: none;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  overflow: hidden;
  text-align: center;
  flex-shrink: 0;
  word-break: break-all;
  max-width: 250px;
}

.colorPickerMenu {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0px;
  right: 0px;
  height: 100vh;
  max-width: 100vw;
  z-index: 3;

  transition: transform 0.4s ease;
}

.colorPickerMenuLeft {
  padding-top: 10px;
}

.colorPickerMenuRight {
  background-color: white;
  padding: 10px;
  border-left: 1px solid grey;
  box-shadow: -8px 0px 10px -6px black;
  margin-left: 10px;
}

.saveColor {
  margin-top: 10px;
}

.closeColorPicker {
  position: absolute;
  top: 5px;
  right: 5px;
}

.openedColorPicker {
  transform: translateX(0px) !important;
}

.saveColor, .closeColorPicker, .deselectTag, .randomizeColors, .addTodo {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.2);
  transition: background-color 0.2s ease;
  font-size: 1em;
  margin: 5px;
}

.addTodo {
  margin: 0;
  white-space: nowrap;
}

.deselectTag {
  margin-top: 40px;
}

.closeColorPicker:hover, .saveColor:hover, .deselectTag:hover, .randomizeColors:hover, .addTodo:hover {
  background-color: rgb(232, 232, 232);
}

.color-picker-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-picker-tag {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.2);
  cursor: pointer;
}

.color-picker-tag.selected {
  box-shadow: 4px 4px 8px rgba(128, 128, 128, 0.5);
}

@media (max-width: 500px) {
  .boards {
    flex-direction: column;
    overflow-X: hidden;
  }

  .addBoard.droppable {
    width: calc(100% - 12px);
  }

  .droppable {
    width: 100%;
    min-height: 110px;
  }

  .trash {
    width: 100%;
  }
}